@import './variables.scss';

.resume{
  color: $DARK_COLOR;
  padding: 80px 6%;
  font-size: $LARGE_FONT;
  font-family: 'Open Sans', sans-serif;
  strong{
    font-weight: 600;
    color: $BLACK_COLOR;
  }
  .row{
    .col-8{
      padding-right: 80px;
      .project-list{
          line-height: $STD_LINE_HEIGHT;
          margin-top: -15px;
          font-weight: 501;
          span{
              font-weight: 400;
              &:after{
                  content: ", ";
              }
              &:last-child{
                  &:after{
                      content: " etc";
                  }
              }
          }
      }
    }
  }
}