// ------colors-------
$WHITE_COLOR: #ffffff;
$BLACK_COLOR: #000000;
$PRIMARY_LIGHT_COLOR: #e3faf4;
$PRIMARY_BLUE: #0074e1;
$DARK_COLOR: #172026;
$LIGHT_COLOR: #5a6664;
$LINE_GREY: #e5e5e5;

// ------font size------
$MEDIUM_FONT: 14px;
$LARGE_FONT: 20px;
$EXTRA_LARGE_FONT: 24px;
$BIG_HEADING_FONT: 40px;
$TITLE_1_FONT: 32px;
$TITLE_2_FONT: 25px;
$TITLE_3_FONT: 20px;
// ------font size------

// ------border------
$BORDER_RADIUS: 4px;
// ------border------
