@import './sections/variables.scss';

.resume{
  color: $DARK_COLOR;
  padding: 80px 6%;
  font-size: $LARGE_FONT;
  font-family: 'Open Sans', sans-serif;
  strong{
    font-weight: 600;
    color: $BLACK_COLOR;
  }
}